<!-- <p>
  navbar works!
</p>
<a routerLink="home">Home</a> <br >
<a routerLink="about">About</a> <br >
<a routerLink="contact">Contact</a> <br >
<a routerLink="posts">Posts</a> <br > -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">

    <a style="box-shadow: 5px 5px 10px lightblue;" href="{{ ben_summary?.profileurl }}" target="_blank">
      <img src="{{ ben_summary?.avatarmedium }}" />
    </a>

    <a class="navbar-brand pointer" routerLink="home">{{ ben_summary?.personaname }}</a>


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="home">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link pointer" routerLink="diary">Diary</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link pointer" routerLink="posts">Posts</a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Outdoors Bucket
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="six_steps">6 steps to making a shot</a>
            <a class="dropdown-item" routerLink="coyote_work">Coyote Camera! (#WIP)</a>
            <a class="dropdown-item" href="https://ben.spelledabc.org/" target="_blank">Old Site (new domain)</a>
            <!-- <a class="dropdown-item" href="hunting_log">Hunting Log (#soon)</a> -->
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gaming
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link pointer" routerLink="steam">Steam Stuff</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Misc
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <a class="nav-link pointer" routerLink="contact">Contact</a> -->
            <a class="nav-link pointer" routerLink="about">About</a>
            <!-- <a class="nav-link pointer" routerLink="posts">Blog Posts</a> -->
          </div>
        </li>


        <!-- <li class="nav-item">
          <a class="nav-link pointer" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="about">About</a>
        </li> -->


      </ul>
    </div>
  </div>
</nav>
