<h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">Thinking About Something</h1>
<div style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">
  Check out my QR code while I think of something useful to put on this page.<br /><br />
  <img height=120px src="assets/images/qr-code.png" />
</div>
<br />

<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">
    <h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">All Posts</h1>
    <br />
    <div *ngFor="let post of posts">
      <app-preview-post [post]="post"></app-preview-post>
      <hr>
    </div>
    <!-- Pager -->

    <!-- Home Button -->
    <div>
      <br />
      <div class="clearfix text-center mx-auto">
        <a class="btn btn-secondary pointer" routerLink="/home">Home</a>
      </div>
      <br />
    </div>
  </div>
</div>
