<!-- <h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">
  Steam Stuff (Games &amp; Friends)</h1> -->

<h1 class="text-success" style="text-align: center; margin-bottom: 12px;">
  Steam Stuff (Games &amp; Friends)</h1>
<br />

<app-loading *ngIf="loading"></app-loading>


<div class="row" *ngIf="!loading">
  <div class="col-lg-12 col-md-10 mx-auto">

    <p class="text-success text-center">Recently Played (Rolling 14 days)</p>

    <div *ngFor="let game of gamesRecentlyPlayed">
      <img
        src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_icon_url'] }}.jpg" />
      &nbsp;
      <a href="https://steamdb.info/app/{{ game['appid'] }}">{{ game['name'] }}</a>
      (Hours Played: {{ game['playtime_forever']/60 | number: '1.2-2' }})<br />
      <br />
    </div>

    <hr />

    <p class="text-success text-center">Steam Friends</p>
    <ul>


      <div *ngFor="let friend of friend_summaries">
        <li *ngIf="friend.steamid != 76561198041026797">
          <img src="{{friend.avatarmedium}}" height="35px" /> -
          <a href="{{friend.profileurl}}" target="_blank">{{friend.personaname}}</a>
        </li>
      </div>


    </ul>

    <hr />

    <p class="text-success text-center">All Games Owned (By Total Played Time)</p>
    <div *ngFor="let game of gamesOwned">
      <img
        src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_icon_url'] }}.jpg" />
      &nbsp;
      <a href="https://steamdb.info/app/{{ game['appid'] }}">{{ game['name'] }}</a>
      (Hours Played: {{ game['playtime_forever']/60 | number: '1.2-2' }})<br />
    </div>

  </div>
</div>