<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">
    <h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">QR Link</h1>
    <div>
      Not much here atm.
    </div>

  </div>
</div>
