<h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">
  <div *ngIf="loading;else doneLoading">
  Fetching last 5 approved images; please wait.
  </div>
</h1>

<ng-template #doneLoading>Coyote Work</ng-template>

<!-- OMG this json data is horiable! fix it on the PI TODO -->

<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">
    <br />
    <div *ngFor="let item of coyote_posts">
      <p style="text-align: center; margin-bottom: 12px;">
      Date: {{item.date}}
      <!-- <a href="{{item.json_data[2].photo_path}}" target="_blank">
        <img src="{{item.json_data[2].photo_path}}" width="95%" />
      </a> -->

      <a href="{{item.json_data.photo_path}}" target="_blank">
        <img src="{{item.json_data.photo_path}}" width="95%" />
      </a>

      </p>
    </div>
  </div>
</div>


