<div class="post-preview">
  <a (click)="go()" class="pointer">
    <h2 class="post-title" [textContent]="post.author.usernmame">
    </h2>
    <h3 class="post-subtitle">{{ post.body.length > 48 ? post.body.substring(0, 50)+"..." : post.body }}
    </h3>
  </a>
  <p class=" post-meta">Posted by
    <a href="#" [textContent]="post.author.email"></a>
  </p>
</div>
<!--- .substring(0, 48) --->
