<!-- <h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">Past Posts</h1>

<h4 style="text-align: center; margin-bottom: 12px; color: black;">
  Broken/Disabled for now.</h4>

<br /> -->

<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">
  <div class="col-lg-8 col-md-10 mx-auto">
    <h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">All Posts</h1>
    <span style="text-align: center; margin-bottom: 12px; color: black;">
      I'm not there yet but the REST endpoint doesnt do a good job at consolidateing the query to a bulk object. So
      instead of the author NAME and detail, we get the author ID; ./slowClap
    </span><br /><br />
    <hr />

    <br />
    <div *ngFor="let post of posts">
      <!-- <app-preview-post [post]="post"></app-preview-post> -->
      <span style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">Title:</span> {{ post.title }}<br />
      <span style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">Body:</span> {{ post.body }}<br /><br />
      <span style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">Posted by: (Author id)</span> {{ post.userId }}
      <hr>
    </div>
    <!-- Pager -->

    <!-- Home Button -->
    <!-- <div>
      <br />
      <div class="clearfix text-center mx-auto">
        <a class="btn btn-secondary pointer" routerLink="/home">Home</a>
      </div>
      <br />
    </div> -->


  </div>
</div>
