<!-- <app-masthead [header]="header"></app-masthead> -->

<!-- <header class="masthead" style="background-image: url('assets/images/foggy-forest1.jpg')"> -->
<header class="masthead" style="background-image: url('https://picsum.photos/1600/1267')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <!-- waht are these things.. the header.title and header.subtitle etc etc?? -->
          <!-- <h2 ng-bind="extra">Testing...</h2> -->
          <h1 ng-bind="header.title">SpelledABC.org</h1>
          <span class="subheading" ng-bind="header.subtitle">Next development goals</span>
          <span class="meta" ng-if="header.byline.length > 0" ng-bind="header.byline">
            &#10003; Remove: AWS:Spot Instances<br />
            &#10003; Dynamic Titles<br />
            Smaller top banner?<br />
            Old Load Data<br />
            Old Removal Log<br />
            Easy Entry System (CRUD)<br />
            
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
