@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  /* #212529 */
  background: #7f7fd5;
  /* background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); */
  background: linear-gradient(to right, black, yellow, ##212529);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}

.card {
  display: flex;
  flex-direction: column;
  /* width: clamp(20rem, calc(20rem + 2vw), 22rem); */
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #d3d3d3, #c0c0c0 );
  color: black;

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: blue;
  background: linear-gradient(to bottom, blue, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-green {
  background: green;
  background: linear-gradient(to bottom, green, #70532d);
  color: #fafafa;
}

.tag-red {
  background: red;
  background: linear-gradient(to bottom, red, #a8202e);
  color: #fafafa;
}

.tag-black {
  background: rgb(4, 4, 4);
  background: linear-gradient(to bottom, rgb(5, 5, 5), rgb(133, 132, 132));
  color: #fafafa;
}

.tag-yellow {
  background: yellow;
  background: linear-gradient(to bottom, yellow, #6fa11f);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
