<h1 style="text-align: center; margin-bottom: 12px; color:  rgb(0, 160, 0);">
  <div *ngIf="loading;else doneLoading">
    Fetching posts, please wait.
  </div>
</h1>

<ng-template #doneLoading>Simple Diary</ng-template>

<app-loading *ngIf="loading"></app-loading>
<div class="row justify-content-center" *ngIf="!loading">
  <!-- <div class="col-4"> -->
    <div *ngFor="let item of diary_posts;let first = first; let last = last">

      <div class="card">
        <div class="card__header">
          <br />
          <img src="{{item.image_path}}" alt="card__image" class="card__image center" width="600">
        </div>
        <div class="card__body">


          <!-- make the tag-<color> more dynamic... -->
          <!-- <span class="tag tag-blue">{{item.catagory}}</span> -->

          <!-- this is better, but maybe they should be coded in the database? -->
          <span [ngSwitch]="item.catagory">
            <span *ngSwitchCase="'Production'" class="tag tag-blue">{{item.catagory}}</span>
            <span *ngSwitchCase="'Staging'" class="tag tag-yellow">{{item.catagory}}</span>
            <span *ngSwitchCase="'Development'" class="tag tag-red">{{item.catagory}}</span>
            <span *ngSwitchDefault class="tag tag-black">{{item.catagory}}</span>
          </span>



          <h4 style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">{{item.json_data.title}}</h4>
          <p>{{item.json_data.body}}</p>
        </div>
        <br /><br />
        <div class="card__footer">
          <div class="user">
            <!-- This should come from steam api but.. this works for now. -->
            <img
              src="https://avatars.steamstatic.com/007bb71356eb470f3e86414ed88a26da7ee1f69b_medium.jpg"
              alt="user__image" class="user__image">
            <div class="user__info">
              <h5>Ben SpelledABC</h5>
              <small>{{item.date}}</small>
            </div>
          </div>
        </div>
      </div>

      <span *ngIf="last===false">
        <!-- <hr style="height:1px;border:none;color:white;background-color:white;"> -->
        <br /><br />
      </span>

    <!-- </div> -->

  </div>
</div>
