<!-- <div class="row" *ngIf="loading">
  <div class="col-12 text-center">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row" *ngIf="!loading">

  <div class="col-lg-8 col-md-10 mx-auto">
    <h1 [textContent]="post.title"></h1>

    <h3 class="post-content" [textContent]="post.content"></h3>

    <p style="color: grey; text-align: center;" class="post-meta"><i>Posted by </i>
      <i><a href="#" style="color: grey; text-decoration: none;" [textContent]="post.author"></a></i>
    </p>
  </div>

</div>


<div class="clearfix text-center mx-auto">
  <a (click)="deletePost();" class="btn btn-light pointer">
    Delete Post
    <i class="" aria-hidden="true"></i></a>
</div> -->
