<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">

          <li class="list-inline-item">
            <a href="https://gitlab.com/benspelledabc_group/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>


          <!-- fix the size and inverse... -->
          <li class="list-inline-item">
            <a href="https://discord.gg/VQam3MM6kk" target="_blank">
              <span class="fa-stack fa-2x">
              <fa-icon [icon]="faDiscord"></fa-icon>
              </span>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://twitter.com/benspelledabc" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

        </ul>
        <!-- <p class="copyright text-muted">Copyright &copy; {{year}} <br />Drunken Dwarves, Irate Gnomes and Ben SpelledABC</p> -->
        <p class="copyright">Copyright &copy; {{year}} <br />Drunken Dwarves, Irate Gnomes and Ben SpelledABC</p>
        <!-- <p class="copyright text-muted"> -->
          <div class="copyright" style="color: antiquewhite;">
          FastAPI Status: {{ status_result?.status }}<br />
          UPTIME: {{ status_result?.uptime_seconds/60/60 | number: '1.2-2'}} (hours)</div>
      </div>
    </div>
  </div>
</footer>
